.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.overlayActive {
    pointer-events: none;
    filter: blur(0.3125rem); /* 5px to rem */
}

.overlayActive .overlay {
    pointer-events: all;
}

.card {
    width: 22%; /* This might be better in pixels for consistent card size across different screens */
    /* height: 40%; */
    background-color: white;
    z-index: 2000;
    padding: 3.125rem 1.25rem 1.875rem; /* 50px 20px 30px */
    border-radius: 0.5rem; /* 8px to rem */
    position: relative;
}

.cardheader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem; /* 20px to rem */
}

.cardtitle {
    font-weight: 600;
}

.closeButton {
    background: none;
    border: none;
    font-size: 1.5rem; /* 24px to rem */
    font-weight: bold;
    cursor: pointer;
    color: #000;
    position: absolute;
    top: 0.625rem; /* 10px to rem */
    right: 0.625rem; /* 10px to rem */
}

.cardforget {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1.25rem; /* 20px to rem */
    color: #3738e2;
    font-size: 0.875rem; /* 14px to rem */
}

.cardlinebox {
    padding-top: 0.625rem; /* 10px to rem */
}

.cardline {
    margin-bottom: 0;
    margin-top: 1.25rem; /* 20px to rem */
    text-align: center;
    border-top: 0.0625rem solid #404040; /* 1px to rem */
    background: white;
}

.cardline1 {
    margin-top: 0.625rem; /* 10px to rem */
    padding-top: 0.3125rem; /* 5px to rem */
    font-size: 0.875rem; /* 14px to rem */
    background: white;
    margin-bottom: 0;
    padding-bottom: 1rem; /* 16px to rem */
}

.cardbtn {
    width: 100%;
    background-color: #EDEDFC !important;
    color: #3738e2 !important;
    border: none !important;
    font-weight: 550;
}

.cardlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem; /* 20px to rem */
}
